---
import { DocsLayout } from '@layouts';
import { getCollection } from 'astro:content';

const docs = (await getCollection('overviewDocs')).slice().sort((a, b) => {
	return (a.data.order ?? 0) - (b.data.order ?? 0);
});
---

<DocsLayout title="Overview" description="High-level docs for UI Guideline.">
	<ul class="space-y-4">
		{
			docs.map((entry) => (
				<li class="space-y-1">
					<a href={`/overview/${entry.id}`} class="text-sm font-medium text-sky-400 hover:text-sky-300">
						{entry.data.sidebarLabel ?? entry.data.title}
					</a>
					{entry.data.description && <p class="text-sm text-slate-400">{entry.data.description}</p>}
				</li>
			))
		}
	</ul>
</DocsLayout>
