@theme {
  --color-primary-50: oklch(0.985 0.013 17.38);
  --color-primary-100: oklch(0.956 0.032 17.717);
  --color-primary-200: oklch(0.905 0.062 18.334);
  --color-primary-300: oklch(0.828 0.114 19.571);
  --color-primary-400: oklch(0.724 0.191 22.216);
  --color-primary-500: oklch(0.657 0.237 25.331);
  --color-primary-600: oklch(0.597 0.245 27.325);
  --color-primary-700: oklch(0.525 0.213 27.518);
  --color-primary-800: oklch(0.464 0.177 26.899);
  --color-primary-900: oklch(0.416 0.141 25.723);
  --color-primary-950: oklch(0.278 0.092 26.042);

  --font-sans: 'Inter Variable', 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --font-mono: 'Berkeley Mono', 'SFMono Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
