@import 'tailwindcss';
@source '../../node_modules/@side-ui';

:root {
  --primary-100: oklch(92.785% 0.0398 298.23);
  --primary-200: oklch(85.589% 0.0812 297.3);
  --primary-300: oklch(78.75% 0.1204 294.83);
  --primary-400: oklch(71.864% 0.1613 292.88);
  --primary-500: oklch(44.36% 0.2726 274.1);
  --primary-600: oklch(23.594% 0.0876 308.44);
  --primary-700: oklch(18.568% 0.0622 306.58);
  --primary-800: oklch(13.047% 0.0385 301.21);
  --primary-900: oklch(0% 0 0);
}

@theme {
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
}

/* Dark mode variables */
.dark {
  --dashed-border-color: var(--color-gray-800);
}

/* Custom dashed border utility */
.border-dashed-wide {
  background-image:
    linear-gradient(to bottom, var(--dashed-border-color) 40%, transparent 40%),
    linear-gradient(to bottom, var(--dashed-border-color) 40%, transparent 40%),
    linear-gradient(to bottom, white, white);
  background-size:
    1px 20px,
    1px 20px,
    100% 100%;
  background-position:
    left top,
    right top,
    center;
  background-repeat: repeat-y, repeat-y, no-repeat;
}

/* Dark mode background for border-dashed-wide */
.dark .border-dashed-wide {
  background-image:
    linear-gradient(to bottom, var(--dashed-border-color) 40%, transparent 40%),
    linear-gradient(to bottom, var(--dashed-border-color) 40%, transparent 40%),
    linear-gradient(to bottom, var(--color-gray-950), var(--color-gray-950));
}
